<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->



    {% block stylesheets %}

        <link type="text/css" rel="stylesheet" href="{{asset('bundles/framework/css/bootstrap.min.css')}}"/>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


</head>

<body>

<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">NHL app</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>

                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li class="dropdown">
                            <a href="{{ path('nhl_articles') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('nhl_articles') }}">Show articles</a></li>
                                <li><a href="{{ path('nhl_create') }}">Add article</a></li>
                                <li><a href="#">Something else here</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for flash_message in app.session.flashbag.get('notice')%}
                <div class="alert alert-success">{{ flash_message }}</div>
            {% endfor %}

            {% for flash_message in app.session.flashbag.get('error')%}
                <div class="alert alert-danger">{{ flash_message }}</div>
            {% endfor %}
            <script type="text/javascript">

                <!--//
                function resizeText(multiplier) {
                    if (document.body.style.fontSize == "") {
                        document.body.style.fontSize = "1.0em";
                    }
                    document.body.style.fontSize = parseFloat(document.body.style.fontSize) + (multiplier * 0.2) + "em";
                }

                function grey()

                {

                    document.body.style.backgroundColor="grey";
                    document.getElementById('p').style.fontSize = '1.2em';


                }

                //-->
                function white()

                {

                    document.body.style.backgroundColor="white";


                }


            </script>





            {% block body %}{% endblock %}
            <a href="#" class="btn btn-success" onclick="grey()">click for grey BG </a>
            <a href="#" class="btn btn-primary" onclick="white()">click for white BG </a>
            <a href="#" class="btn btn-danger" alt="Increase text size" onclick="resizeText(1)">Text size +</a>
            <a href="#" class="btn btn-default" alt="Increase text size" onclick="resizeText(-1)">Text size -</a>
        </div>

    </div>

</div><!-- /.container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
<div class="container">
<h2 class="page-header">Add comment</h2>

<div id="disqus_thread"></div>
<script>
    /**
     * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
     var disqus_config = function () {
     this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
     */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//nhl-app.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//nhl-app.disqus.com/count.js" async></script>
</div>
</body>
</html>
